@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  user-select: none;
}
